<h1 class="center">Firenza Leadership</h1>

<br>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<a href="#dw-modal" role="button" data-toggle="modal">
			<h4>Dave<br>Wood</h4>
		</a>
		<h5>CEO</h5>
		<a href="#dw-modal" role="button" data-toggle="modal">
			<%= image_tag 'davew_thumb.png', :title => "Dave Wood headshot" %>
		</a>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="dw-modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Dave Wood | CEO</h4>
					</div>
					<div class="modal-body">
						<%= image_tag 'davew.png', :title => "Dave Wood photo" %>
						<ul>
							<li>1980 - Started delivering pizzas for Domino's in college</li>
							<li>1981 - Promoted to General Manager of one of the highest volume Domino's in the country</li>
							<li>1983 - Promoted to run 30 Domino's in NC, Atlanta and San Diego</li>
							<li>1985 - Started my own franchise with Domino's</li>
							<li>Won virtually every award for excellence Domino's gives, including 15 IFA Gold "Frannies"</li>
							<li>Sold 17 locations at end of 2012</li>
							<li>2013 and 14 - consulted in various businesses including a frozen yogurt chain, a Jersey Mike's Area Developer for all of Baltimore and DC DMAs (which currently has over 40 locations), a business telephone company and two technology companies</li>
							<li>In late summer 2014, decided to start our own fast casual pizza chain to do it better than the others</li>
							<li>Teamed up with my long time operating partner, Dave Baer, and opened first location in March 2015</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<a href="#db-modal" role="button" data-toggle="modal">
			<h4>Dave<br>Baer</h4>
		</a>
		<h5>President</h5>
		<a href="#db-modal" role="button" data-toggle="modal">
			<%= image_tag 'daveb_thumb.png', :title => "Dave Baer headshot" %>
		</a>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="db-modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Dave Baer | President</h4>
					</div>
					<div class="modal-body">
						<%= image_tag 'daveb.png', :title => "Dave Baer photo" %>
						<ul>
							<li>Started as a driver for Domino’s Pizza while in college 1991</li>
							<li>Worked in Business Finance after college (missed pizza)</li>
							<li>Managed Domino’s Pizza store in 1991 Rookie manager of the year</li>
							<li>From 1992-1998 held positions of Supervisor, Senior Supervisor and Training Director of Corporate operations Domino’s Pizza</li>
							<li>November 1998 started working for Dave Wood a Domino’s Franchisee</li>
							<li>1998-2012 Became VP of Operation and grew Dave Wood’s company to 17 stores and won every award in Domino’s Pizza including Supervisor of the year</li>
							<li>From 2013-2014 Director of Operations Zinga Franchise group and multi-store franchisee</li>
							<li>From 2014 to present President of Firenza Pizza</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<a href="#steve-modal" role="button" data-toggle="modal">
			<h4>Steve<br>Schreiber</h4>
		</a>
		<h5>Director of Operations</h5>
		<a href="#steve-modal" role="button" data-toggle="modal">
			<%= image_tag 'steve_thumb.png', :title => "Steve Schreiber headshot" %>
		</a>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="steve-modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Steve Schreiber | Director of Operations</h4>
					</div>
					<div class="modal-body">
						<%= image_tag 'steve.png', :title => "Steve Schreiber photo" %>
						<ul>
							<li>Was an Assistant Manager for Dave Wood's Domino's franchise for several years</li>
							<li>Joined Old Country Buffet and ran the store in Raleigh, North Carolina</li>
							<li>Moved to New York to open a full service Montana themed steak house with a close friend and joined in the management team of his family's nine multi-themed restaurants</li>
							<li>Operated each different restaurant  in the group and expanded my knowledge of the food industry exponentially</li>
							<li>Returned to work at Domino's with Dave Wood and Dave Baer in 1999</li>
							<li>Was a nominee for Rookie Manager of the year and Manager of the year several times</li>
							<li>Was the manager of one of the highest volume stores in the Nation</li>
							<li>Became a Area Supervisor in 2010 and oversaw 8-10 restaurants until the end of 2014</li>
							<li>Rejoined Dave and Dave in January of 2015 to develop Firenza with them</li>
							<li>Opened our first 2 restaurants in 2015</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<a href="#chris-modal" role="button" data-toggle="modal">
			<h4>Christopher<br>Lynne</h4>
		</a>
		<h5>Director of Marketing</h5>
		<a href="#chris-modal" role="button" data-toggle="modal">
			<%= image_tag 'chris_thumb.png', :title => "Christopher Lynne headshot" %>
		</a>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="chris-modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Christopher Lynne | Director of Marketing</h4>
					</div>
					<div class="modal-body">
						<%= image_tag 'chris.png', :title => "Christopher Lynne photo" %>
						<p>Christopher began his career in business at the age of 18 when he launched a successful clothing company.  He studied Communication Design at Universities in New York and Sydney, Australia before taking his experience to Denver, CO where he has been helping fast-casual brands grow for almost 10 years.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>