<h1 class="center">Firenza Leadership</h1>

<br>

<!-- <table>
	<tr>
		<td>Dave Wood | CEO</td>
		<td>Dave Baer | President</td>
		<td>Steve Schreiber | Director of Operations</td>
		<td>Christopher Lynne | Director of Marketing</td>
	</tr>
	<tr>
		<td class="headshot"><%= image_tag 'davew_thumb.png', :title => "Dave Wood headshot" %></td>
		<td class="headshot"><%= image_tag 'daveb_thumb.png', :title => "Dave Baer headshot" %></td>
		<td class="headshot"><%= image_tag 'steve_thumb.png', :title => "Steve Schreiber headshot" %></td>
		<td class="headshot"><%= image_tag 'chris_thumb.png', :title => "Christopher Lynne headshot" %></td>
	</tr>
</table> -->

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<h5>Dave Wood | CEO</h5>
		<%= image_tag 'davew_thumb.png', :title => "Dave Wood headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<h5>Dave Baer | President</h5>
		<%= image_tag 'daveb_thumb.png', :title => "Dave Baer headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<h5>Steve Schreiber | Director of Operations</h5>
		<%= image_tag 'steve_thumb.png', :title => "Steve Schreiber headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="col-md-1"></div>
	<div class="col-md-10 center">
		<h5>Christopher Lynne | Director of Marketing</h5>
		<%= image_tag 'chris_thumb.png', :title => "Christopher Lynne headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>