<h1 class="center">Firenza Leadership</h1>

<br>

<div class="row">
	<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#dw-modal" role="button" data-toggle="modal">
				<h4>Dave<br>Wood</h4>
			</a>
			<h5>Founder</h5>
			<a href="#dw-modal" role="button" data-toggle="modal">
				<%= image_tag 'davew_thumb.png', :title => "Dave Wood headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="daveWood" id="dw-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="daveWood">Dave Wood | Founder</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<%= image_tag 'davew.png', :title => "Dave Wood photo" %>
							</div>
							<div class="col-md-6">
								<ul>
									<li>1980 - Started delivering pizzas for Domino's in college</li>
									<li>1981 - Promoted to General Manager of one of the highest volume Domino's in the country</li>
									<li>1983 - Promoted to run 30 Domino's in NC, Atlanta and San Diego</li>
									<li>1985 - Started my own franchise with Domino's</li>
									<li>Won virtually every award for excellence Domino's gives, including 15 IFA Gold "Frannies"</li>
									<li>Sold 17 locations at end of 2012</li>
									<li>2013 and 14 - consulted in various businesses including a frozen yogurt chain, a Jersey Mike's Area Developer for all of Baltimore and DC DMAs (which currently has over 40 locations), a business telephone company and two technology companies</li>
									<li>In late summer 2014, decided to start our own fast casual pizza chain to do it better than the others</li>
									<li>Teamed up with my long time operating partner, Dave Baer, and opened first location in March 2015</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="col-md-4 col-sm-4">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#db-modal" role="button" data-toggle="modal">
				<h4>Dave<br>Baer</h4>
			</a>
			<h5>President</h5>
			<a href="#db-modal" role="button" data-toggle="modal">
				<%= image_tag 'daveb_thumb.png', :title => "Dave Baer headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="daveBaer" id="db-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="daveBaer">Dave Baer | President</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<%= image_tag 'daveb.png', :title => "Dave Baer photo" %>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Started as a driver for Domino’s Pizza while in college 1991</li>
									<li>Worked in Business Finance after college (missed pizza)</li>
									<li>Managed Domino’s Pizza store in 1991 Rookie manager of the year</li>
									<li>From 1992-1998 held positions of Supervisor, Senior Supervisor and Training Director of Corporate operations Domino’s Pizza</li>
									<li>November 1998 started working for Dave Wood a Domino’s Franchisee</li>
									<li>1998-2012 Became VP of Operation and grew Dave Wood’s company to 17 stores and won every award in Domino’s Pizza including Supervisor of the year</li>
									<li>From 2013-2014 Director of Operations Zinga Franchise group and multi-store franchisee</li>
									<li>From 2014 to present President of Firenza Pizza</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#dan-modal" role="button" data-toggle="modal">
				<h4>Dan<br>Locke</h4>
			</a>
			<h5>CFO</h5>
			<a href="#dan-modal" role="button" data-toggle="modal">
				<%= image_tag 'dan_thumb.png', :title => "Dan Locke headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="danLocke" id="dan-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="danLocke">Dan Locke | CFO</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<%= image_tag 'dan.png', :title => "Dan Locke photo" %>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Initial investor in first Persona store in 2012</li>
									<li>Initial investor in Persona franchising business in 2014</li>
									<li>Began as CFO in 2014 and started co-managing day-to-day operations of Persona franchising in 2015 including finance, marketing, compliance, and support</li>
									<li>10 years experience working in all aspects of restaurants</li>
									<li>Previously worked in strategic corporate finance and business development managerial roles focused on helping business clients become successful for Constant Contact and BigCommerce</li>
									<li>Developed business success programs used by thousands of small to medium businesses including restaurants</li>
									<li>Extensive experience guiding new and mature businesses through periods of exponential growth</li>
									<li>Masters of Business Administration and Masters of Information Systems from Boston University’s School of Management</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="col-md-4 col-sm-4">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#steve-modal" role="button" data-toggle="modal">
				<h4>Steve<br>Schreiber</h4>
			</a>
			<h5>Operations</h5>
			<a href="#steve-modal" role="button" data-toggle="modal">
				<%= image_tag 'steve_thumb.png', :title => "Steve Schreiber headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="steveSchreiber" id="steve-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="steveSchreiber">Steve Schreiber | Operations</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<%= image_tag 'steve.png', :title => "Steve Schreiber photo" %>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Was an Assistant Manager for Dave Wood's Domino's franchise for several years</li>
									<li>Joined Old Country Buffet and ran the store in Raleigh, North Carolina</li>
									<li>Moved to New York to open a full service Montana themed steak house with a close friend and joined in the management team of his family's nine multi-themed restaurants</li>
									<li>Operated each different restaurant  in the group and expanded my knowledge of the food industry exponentially</li>
									<li>Returned to work at Domino's with Dave Wood and Dave Baer in 1999</li>
									<li>Was a nominee for Rookie Manager of the year and Manager of the year several times</li>
									<li>Was the manager of one of the highest volume stores in the Nation</li>
									<li>Became a Area Supervisor in 2010 and oversaw 8-10 restaurants until the end of 2014</li>
									<li>Rejoined Dave and Dave in January of 2015 to develop Firenza with them</li>
									<li>Opened our first 2 restaurants in 2015</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="col-md-4 col-sm-4">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#joe-modal" role="button" data-toggle="modal">
				<h4>Joe<br>Baumel</h4>
			</a>
			<h5>Operations</h5>
			<a href="#joe-modal" role="button" data-toggle="modal">
				<%= image_tag 'joe_thumb.png', :title => "Joe Baumel headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="joeBaumel" id="joe-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="joeBaumel">Joe Baumel | Operations</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6 joe">
								<%= image_tag 'joe.png', :title => "Joe Baumel photo" %>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Co-Founded Persona in 2012</li>
									<li>Works in all aspects of the day-to-day in the original Persona Pizzeria in Santa Barbara, California</li>
									<li>Ran first delivery pilot for Persona in 2016</li>
									<li>Has served as CEO and as the Director of Quality control providing support and training to Persona franchises since 2014</li>
									<li>Graduated from the Culinary Institute of America in Napa, California</li>
									<li>Has worked as a chef and cook in a variety of restaurants in Northern California</li>
									<li>Graduated from Brandeis University</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#chris-modal" role="button" data-toggle="modal">
				<h4>Christopher<br>Lynne</h4>
			</a>
			<h5>Director of Marketing</h5>
			<a href="#chris-modal" role="button" data-toggle="modal">
				<%= image_tag 'chris_thumb.png', :title => "Christopher Lynne headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="christopherLynne" id="chris-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="christopherLynne">Christopher Lynne | Director of Marketing</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<%= image_tag 'chris.png', :title => "Christopher Lynne photo" %>
							</div>
							<div class="col-md-6">
								<p>Christopher began his career in business at the age of 18 when he launched a successful clothing company.  He studied Communication Design at Universities in New York and Sydney, Australia before taking his experience to Denver, CO where he has been helping fast-casual brands grow for almost 10 years.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="col-md-4 col-sm-4">
		<div class="col-md-1"></div>
		<div class="col-md-10 center">
			<a href="#stacey-modal" role="button" data-toggle="modal">
				<h4>Stacey<br>Kane</h4>
			</a>
			<h5>Director of Buzz</h5>
			<a href="#stacey-modal" role="button" data-toggle="modal">
				<%= image_tag 'stacey_thumb.png', :title => "Stacey Kane headshot" %>
			</a>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="staceyKane" id="stacey-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content container-fluid">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="staceyKane">Stacey Kane | Director of Buzz</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-6 stacey">
								<%= image_tag 'stacey.png', :title => "Stacey Kane photo" %>
							</div>
							<div class="col-md-6">
								<p>Stacey has more than 20 years of experience working with multi-unit restaurant chains including East Coast Wings &amp; Grill, Subway, California Tortilla and AmRest. She has served on several boards  including the National Restaurant Association’s Marketing Executive Group.  In 2012 &amp; 2013 she was named a Top 20 Movers and Shakers by Fast Casual Magazine.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
