<div class="center">
	<h2>Our Process</h2>

	<ul class="process-list">
		<li><%= image_tag 'mouseclick.png', :title => "computer mouse" %> Fill out contact form <a href="#contact">here</a></li>
		<li><%= image_tag 'phone.png', :title => "cell phone" %> Introduction phone call with Firenza</li>
		<li><%= image_tag 'formpic.png', :title => "form" %> Complete full franchise application</li>
		<li><%= image_tag 'handshake.png', :title => "handshake" %> Face-to-face meeting with the Firenza team</li>
		<li><%= image_tag 'signature.png', :title => "pen signing" %> Sign franchise agreement and open your first Firenza Pizza!</li>
	</ul>
</div>