<div class="slight-down">

	<div class="top">
		<%= render 'top' %>
	</div>

	<div class="slide" id="main1">
		<%= render 'main' %>
	</div>

	<div class="slide" id="concept1">
		<%= link_to (image_tag 'concept.jpg', :title => "A whole new fresh-fired pizza concept. Capture the essence of superfast-casual gaining traction in a marketplace that demands it all: customization, quality, & speed-of-service. -Firenza Pizza was developed by franchise executives, and proven franchisees, with over 100 years of Restaurant Business Development experience. -Captures one of the youngest and freshest pizza concepts gaining traction across the nation. Firenza is one of the very first brands in this exciting fast-casual marketplace. -First store opened in Fairfax, Virginia in March of 2015. -Menu serves today's high-demand made-to-order pizza, wings, meatballs, and custom salads. Beverages include beer and wine, Mexican Coca Cola, and Coke Freestyle fountain drinks. Unique Menu Features include: Custom-made Pizza with unlimited toppings, per customer's choice, for one low price. Cali Style Pizza-finished with a layer of dressed salad & avocado slices. High intensity stone-hearth oven, made-from-scratch dough, savory sauces and only the freshest toppings. -Single and Multi Unit deals available: Area Developer agreements granted to a select few that meet our stringent guidelines. Join us on the ground floor & get involved with this cutting-edge growth opportunity. Firenza - Pizza Like Never Before. Visit Us At: FirenzaPizza.com"), '#contact1' %>
	</div>

	<div class="slide center" id="contact1">
		<h2>Thank you for contacting Firenza!</h2>
		<h2>A team member will be in touch with you soon!</h2>
	</div>

	<div class="slide" id="stats1">
		<%= render 'stats' %>
	</div>

	<div class="slide" id="process1">
		<%= render 'process' %>
	</div>

	<div class="slide" id="ready1">
		<%= link_to (image_tag 'ready.png', :title => "Ready to make some dough?"), '#contact1' %>
	</div>

	<div class="page-footer">
		<h6 class="col-md-3 center">&copy; 2015 Firenza Pizza Franchise LLC</h6>
		<h6 class="col-md-3 center"><%= link_to 'Contact us!', new_inquiry_path %></h6>
		<h6 class="col-md-3 center"><%= link_to "Go To Full Site", "http://www.firenzapizza.com/" %></h6>
		<h6 class="col-md-3 center"><%= link_to 'Website not displaying correctly?', 'https://www.google.com/chrome/browser/desktop/index.html' %></h6>
		<br>
	</div>

</div>