<!DOCTYPE html>
<html>
<head>
	<title>Firenza</title>
	<%= favicon_link_tag 'Firenza-Pizza-Logo.png' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
		<%= render 'pages/nav' %>
	<% end %>

	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>

	<%= yield %>
</body>
</html>
